@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #d6d2d1;
}

.keyboard-surface {
  box-shadow: 2px 2px 4px #2e2e2e55, -1px -1px 6px #d6d2d1;
  background: #b6b3b2;
  border-radius: 3px;
}

.keyboard-button-housing {
  padding: 10px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #d6d2d1;
}

.keyboard-button-mask {
  background: #d6d2d1;
  border-radius: 25px;
  padding: 5px 10px 10px 5px;
  overflow: hidden;
}

.keyboard-button {
  background: linear-gradient(135deg, #d6d2d1dd, #d6d2d1ee) no-repeat,
    url("/texture.png") repeat;
  background-size: 100% 100%, 100px 100px;
  transition: all 0.1s ease-in-out 0s;
  border-radius: 25px;
}

.keyboard-button-unpressed {
  box-shadow: 5px 5px 10px #b6b3b2, -5px -5px 24px #f6f2f0,
    inset 0px 0px 0px #ffffff00, inset 0px 0px 0px #ffffff00;
}

.keyboard-button-pressed {
  box-shadow: 0px 0px 0px #ffffff00, 0px 0px 0px #ffffff00,
    inset 3px 3px 7px #b6b3b2, inset -3px -3px 7px #f6f2f0;
}

.metal {
  background: linear-gradient(135deg, #e3e3e388, #96969688) no-repeat,
    url("/texture.png") repeat #e3e3e3;
  background-size: 100% 100%, 100px 100px;
  box-shadow: 3px 3px 6px #b6b3b2, -3px -3px 6px #f6f2f0, 27px 27px 53px #b6b3b2,
    -27px -27px 53px #f6f2f0;
  border-radius: 3px;
}

.tape {
  background: linear-gradient(135deg, #f6f2f0aa, #f6f2f0aa) no-repeat,
    url("/texture.png") repeat #b6b3b2;
  background-size: 100% 100%, 80px 80px;
  border-radius: 3px;
}

.tape-dent {
  box-shadow: inset 1px 1px 3px #b6b3b2, inset -1px -1px 3px #f6f2f0;
}

.tape-accent-texture {
  background: linear-gradient(135deg, #0e0e0e33, #0e0e0e55) no-repeat,
    url("/texture.png") repeat #0e0e0e77;
  background-size: 100% 100%, 80px 80px;
}

.logo-mask {
  mask-image: url("/j.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.trap-mask {
  mask-image: url("/trapezoid.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center; 
}

.trapezoid {
  position: absolute;
  width: 80px; /* Adjust size */
  height: 80px; /* Adjust size */
  transform-origin: 50% 100px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin 6s linear infinite;
}

/* 
// button #D6D2D1
// bg #D7D3D2
// divide #040609

// shadow top #b6b3b2
// shadow bottom #f6f2f0 */
